<h2>{{step1}}: {{chooseModel}}</h2>
<form [formGroup]="modelForm">
    <label>{{modelDropdown}}: </label>
    <select formControlName="carModel" id="modelSelect" (change)="modelChange()">
        <option value="">{{chooseDropdown}}</option>
        @for (model of models; track model.code) {
        <option [value]='model.code'>{{model.description}}</option>
        }
    </select>

    @if (modelForm.controls['carModel'].valid) {
    <label>{{colorlDropdown}}: </label>
    <select formControlName="modelColor" id="colorSelect">
        @for (color of colors; track color.code) {
        <option [value]='color.code'>{{color.description}}</option>
        }
    </select>
    }
</form>