<h2>{{step2}}: {{selectConfigText}}</h2>
<div class="car-config-wrapper">
    <form [formGroup]="configForm">
        {{configText}}
        <select formControlName="configSelected" id="configSelect">
            <option value="">{{chooseDropdown}}</option>
            @if(selectedModelConfig && selectedModelConfig.configs){
            @for (modelItem of selectedModelConfig.configs ; track modelItem?.id) {
            <option [value]='modelItem.id'>{{modelItem.description}}</option>
            }
            }
        </select>
        @if(selectedDetails && !!configForm.value.configSelected){
        <div class="individual-config-detail">
            <p>{{range}}: {{selectedDetails.range}} {{miles}} - {{maxSpeed}}: {{selectedDetails.speed}} - {{cost}}:
                {{selectedDetails.price | currency : 'USD'}} </p>
        </div>
        }
        @if (selectedModelConfig && selectedModelConfig.towHitch) {
        <div>
            <label for="includeTow">{{towHitch}} </label>
            <input id="includeTow" type="checkbox" formControlName="towHitch">
        </div>
        }
        @if (selectedModelConfig && selectedModelConfig.yoke) {
        <div>
            <label for="includeYoke">{{yokeWheel}}</label>
            <input id="includeYoke" type="checkbox" formControlName="steeringWheel">
        </div>
        }
    </form>
</div>